<!doctype html>
<html lang="fr">
<head>
	<%- include('partials/header') %>
	<link href="../public/css/userPage.css" rel="stylesheet">
	<title><%=pseudo%>'s page</title>
</head>
<body>
	<%- include('partials/navbar') %>
	<main role="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>Bienvenue <%=pseudo%></h1>
			<p>Uploadez un JSON afin de mettre vos informations à jours</p>
			<form name="uploadJson" action="" enctype="multipart/form-data" method="POST">
				<input type="file" name="accountJson" accept=".json" required/>
				<input type="submit" value="Envoyer mon JSON"/>
			 </form>
		</div>
	</div>

	<div class="container">
		<% if (account) {%>
			<p>Pseudo : <%=account.wizardName %></p>
			<p>Lvl : <%=account.wizardLvl%></p>
			<hr>
			<div class="row">
				<div class="col">
					<p><strong>Icône</strong></p>
				</div>
				<div class="col">
					<p><strong>Monstre</strong></p>
				</div>
				<div class="col">
					<p><strong>Niveau</strong></p>
				</div>
				<div class="col">
					<p><strong>Grade</strong></p>
				</div>
			</div>
			<hr>
			<% account.units.forEach(function(unit) { %>
				<div class="row">
					<div class="col">
						<img src="<%= unit.iconUrl %>" alt="" width="80" height="80">
					</div>
					<div class="col">
						<p><%= unit.name %></p>
					</div>
					<div class="col">
						<p> <%= unit.lvl %></p>
					</div>
					<div class="col">
						<p> <%= unit.class %>*</p>
					</div>
				</div>
				<hr>
			<% }); %>
		<% } else {%>
			<p>Vous n'avez pas de JSON en mémoire, merci d'en upload un</p>
		<% }%>
	</div>
	<!-- /container -->
	</main>

	<footer class="container">
		<p>&copy; Kévin PARIS - 2020</p>
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
	<script src="../public/js/userPage.js"></script>
</html>
