<!doctype html>
<html lang="fr">
<head>
	<%- include('partials/header') %>
	<title>Liste des membres</title>
	<link href="/public/css/userPage.css" rel="stylesheet">
</head>
<body>
	<%- include('partials/navbar') %>
	<main role="main" style="padding-top: 3.5em;">
		<div class="container">
			<div class="container">
				<% if (account) {%>
					<p>Pseudo : <%=account.wizardName %></p>
					<p>Lvl : <%=account.wizardLvl%></p>
					<hr>
					<% account.units.forEach(function(unit) { %>
						<div class="row">
							<div class="col-sm">
								<p><strong><%= unit.name %></strong></p>
							</div>
							<div class="col-sm">
								<p> <%= unit.lvl %></p>
							</div>
						</div>
						<hr>
					<% }); %>
				<% } else {%>
					<p>Cet utilisateur n'a pas encore uploader ses informations</p>
				<% }%>
			</div>
		</div>
		<!-- /container -->
		</main>

		<footer class="container">
			<p>&copy; Kévin PARIS - 2020</p>
		</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
</html>